/* Navbar */

/* Home Button */
.px-2 {
    padding-left: 1.5rem !important;
}

.custom-bg-section{
    background-image: url('./imgs/gemini-svg\ \(4\).svg');
}

.custom-bg-nav{
    background-image: url('./imgs/gemini-svg\ \(4\).svg');
}

.nav li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    transform: scale(1.05);
}
